<meta charset="UTF-8">
    <div class="container" >
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Modification mot de passe</h3>
                    </div>
                    
                    <div class="panel-body">
                         <form role="form" name="formmodif">
                            <fieldset>
                                <div class="form-group">
<input class="form-control" placeholder="adresse Mail" ng-focus="retablir()" ng-blur="verifExistence()" ng-model="data.login" name="email" required type="email" required autofocus>
                                                     	<p class="has-error" ng-if="nonexiste">{{message}}</p>
                               
                                </div>                                <div class="form-group">
                                    <input class="form-control" placeholder="Code de validation" ng-model="data.code" ng-disabled="!data.login || nonexiste" name="email" ng-blur="verifCode()" ng-focus="retablir()" required type="text" autofocus>
                                 	<p class="has-error" ng-if="noncode">{{message}}</p>
                                 </div>
                                       <div class="form-group">
                                    <input class="form-control" placeholder="Nouveau mot de passe" ng-model="data.password" ng-disabled="!data.code || noncode" name="email" ng-focus="retablir()" type="password" required autofocus>
                                </div>
                                       <div class="form-group">
                                    <input class="form-control" placeholder="Confirmer" name="email" ng-disabled="!data.password" type="password" ng-blur="verifconf()" ng-model="data.conf" ng-focus="retablir()" required autofocus>
                                		<p class="has-error" ng-if="nonconf">{{message}}</p>
                                </div>
                               
                                   <br>

                                 <input type="submit"  ng-click="modifpassword()" class="btn btn-primary btn-sm" ng-disabled="formmodif.$invalid || nonconf || noncode || nonexiste"  value="Modifier" >
                                 <button ui-sref="login" style="margin-left: 170px;" class="btn btn-primary btn-sm" >Annuler</button>
                                 
                                <!-- <input type="submit"  ng-click="login()" style="margin-left: 170px;" class="btn btn-primary btn-sm" value="S'inscrire" >-->
                            </fieldset>
                        </form>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
